<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT

###  This is a cars dataset having 156 observation and 16 different variables. You have to create a linear regression model using the provided predictor variables for the prediction of sales value of cars.

#### Note: Please run your code step by step as provided in the sheet or else you may face challenges with the code.

### Import the dataset.

In [1]:
import pandas as pd
car = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/car_sales.csv")
car.head()

,Manufacturer,Model,Sales_in_thousands,_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,29.00,3.2,225,106.9,70.6,192.0,3.470,17.2,26,1/4/2012,90.345000
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27,10/8/2011,62.777639

### Check the shape of the dataset.

In [2]:
def lr():
    return car.shape 
lr()

(156, 16)

### Check the descriptive stats of the dataset.

In [3]:
def lr():
    return car.describe()
lr()

,Sales_in_thousands,_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,151.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,52.051742,18.063571,27.401071,3.060897,185.948718,107.487179,71.150000,187.343590,3.380462,17.951923,23.833333,77.128857
std,68.907116,10.076941,14.305863,1.044653,56.700321,7.641303,3.451872,13.431754,0.629200,3.887921,4.256052,25.084045
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,13.630000,12.527500,18.081250,2.300000,149.500000,103.000000,68.400000,177.575000,2.973000,15.800000,21.000000,60.567577
50%,27.609000,17.617500,23.099500,3.000000,177.500000,107.000000,70.550000,187.900000,3.355000,17.200000,24.000000,72.160636
75%,65.905500,18.089731,31.938750,3.575000,215.000000,112.200000,73.425000,196.125000,3.788750,19.575000,26.000000,89.623790
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

### Q 1. Write a code to understand the total count and percentage of missing values.

In [4]:
def lr():
    # Count total missing and sort it 
    # Calucalte percent 
    # concatenate total and percent 
    # print missing data assigning a varibale
    # return using your created variable
    return miss
lr()

NameError: name 'miss' is not defined

### Q 2. Impute the missing value using "median" groupby Manufacturer.

In [ ]:

def lr():
    # your code here to impute missing value using median and groupby
    return
lr()
print (car.isnull().sum())

### Q 3. Create a dummy variable for "Vehicle_type"  and  drop the original variable.

In [ ]:
car_dummy =pd.DataFrame()                                                           # Creating an empty data frame
def lr(car):
    # your code to create dummies
    return #your created variable
car_dummy = lr(car)
print(car_dummy)

### Q 4. Drop the below mentioned variables which will not help in prediction of sales.
``` ['Manufacturer', 'Model', 'Latest_Launch'] ```

In [ ]:
def lr(car_dummy):
    # your code to drop the useless variables
    return # your created variable
car_dummy = lr(car_dummy)
print (car_dummy)

### Check for outliers using Box Plot

In [ ]:
def lr():
    import seaborn as sns
    sns.boxplot(data=car_dummy, orient="h", palette="Set2")
    return None 
lr()

### Q 5. Calculate the Inter quantile range and then drop off outliers for quantile values outside 5 to 95 range.

In [ ]:
def lr(car_dummy):
    import pandas as pd
    # Calculate Q1 value using quantile(0.05)
    # Calculate Q3 value using quantile value (0.95)
    # Calculate Inter Quartile Range
    # create a variable and check for outliers and drop them off
    return # your created variable
car_dummy = lr(car_dummy)
print (car_dummy)

### Q 6. Write code to standardize the variable for model building (return value will be numpy.ndarray).

In [ ]:
std = pd.DataFrame()
car_modify = car_dummy.drop(car_dummy[['Sales_in_thousands']], axis=1)
def lr(car_modify):
    from sklearn.preprocessing import StandardScaler
    # code to scale the variables
    # code to transform the variables and standardize them
    return # your created variable
std = lr(car_modify)
print(std[1])

### Q 7. Write a code to create a DataFrame from the standardized value calculated above

### Since the standardized value is a numpy array, add the data to a dataframe with column header as mentioned below in the same order

```['_year_resale_value','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Power_perf_factor','Vehicle_type_Passenger'] ```

In [ ]:
columns = ['_year_resale_value','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Power_perf_factor','Vehicle_type_Passenger']
def lr(std):
    # create a dataframe cars for the numpy array
    # assign the column headers with the columns mentioned above
    return cars
cars = lr(std)

### Q 8: Now since all variable may not be of use, please extract only the following variables for training. Preparing X (independent features) for the model building.

```['Price_in_thousands','Engine_size','Wheelbase','Fuel_efficiency','Vehicle_type_Passenger']```

In [ ]:
X = pd.DataFrame()
feature_cols = ['Price_in_thousands','Engine_size','Wheelbase','Fuel_efficiency','Vehicle_type_Passenger']                
def lr(cars):
    # assign values of fature_cols to X
    return X
X = lr(cars)
print(X)

### Check for the type and shape of X.

In [ ]:
def lr():
    print(type(X))
    print(X.shape)
lr()

### Q 9. Extract y (dependent variable) for model building.
```['Sales_in_thousands']```

In [ ]:
y = pd.DataFrame()
def lr(car_dummy):
    # assign the dependent variable to y dataframe
    return #your dataframe
y = lr(car_dummy)
print(y.head())

### Check for the type and shape of y.

In [ ]:
def lr():
    print(type(y))
    print(y.shape)
lr()

<a id=section403></a>

### Q 10. Split the value of X and y into train and test datasets.

In [ ]:
from sklearn.cross_validation import train_test_split
def lr():
    return # train test split using train test split of 70:30 and random state=1
X_train, X_test, y_train, y_test = lr()

### Check the shape of  X and y of train dataset.

In [ ]:
def lr():
    print(X_train.shape)
    print(y_train.shape)
lr()

### Check the shape of X and y of test dataset.

In [ ]:
def lr():
    print(X_test.shape)
    print(y_test.shape)
lr()

<a id=section404></a>

### Q 11. Instantiate Linear regression model using scikit-learn

In [ ]:
from sklearn.linear_model import LinearRegression
def lr():
    #initiate the linear regression model to new variable linreg
    return linreg
linreg = lr()

### Q12. Fit the linear model on X_train and y_train.

In [ ]:
def lr():
    # fit the X_train and y_train
    # We don't expect any return from your side.
lr()

<a id=section405></a>

### Q 13. Interpret the Model Coefficients.

In [ ]:
def lr():
    # print the linreg.intercet
    # print the linreg.coefficient
lr()

### Q.14 Zip the features to pair the feature names with the coefficients.

In [ ]:
def lr():
    # insert Intercept variable with the feature_cols
    # make a list using linreg.coef
    # insert the intercept value respectively
    # creating a variable to zip feature_cols and their coef.
    # use for loop the get the value of feature_cols and their coef
        # print the above values
lr()

###  Q 15. Predict the train value using the built model.

In [ ]:
y_pred_train = linreg.predict(X_train)
pred= pd.DataFrame(y_pred_train)
def lr():  
    # provide column header as sales for pred
    # check for head 
    return head
lr()

### Q 16. Predict the test value using the built model.

In [ ]:
y_pred_test = linreg.predict(X_test)    
pred_test= pd.DataFrame(y_pred_test)
def lr():
    # provide column header as sales for pred
    # check for head 
    return head
lr()

<a id=section406></a>

### Q 17 Evaluate the model using Mean Absolute Error metrics for both train and test.

In [ ]:
from sklearn import metrics
def lr():
    # Calculate MAE for train 
    # Calculate MAE for test 
    # print MAE for train
    # print MAE for test
lr()

### Q 18 Evaluate the model using Mean Squared Error for both train and test.

In [ ]:
def lr():
    # Calculate MSE for train 
    # Calculate MSE for test 
    # print MSE for train
    # print MSE for test
lr()

### Q 19 Evaluate the model using Root Mean Squared Error for both train and test.

In [ ]:
import numpy as np
def lr():
    # Calculate RMSE for train 
    # Calculate RMSE for test 
    # print RMSE for train
    # print RMSE for test
lr()

### Q 20. Evaluate the model using R-square value for both train and test.

In [ ]:
from sklearn.metrics import r2_score
def lr():
    # Calculate r2 for train 
    # Calculate r2 for test 
    # print r2 for train
    # print r2 for test
lr()