In [3]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# the below lines will give error if the Google Drive you mounted does not have 
# 1. File "wine.csv" saved inside "INSAID" folder
# 2. The Folder "INSAID" has to be saved inside your main "Google Drive Folder: "My Drive""
import pandas as pd
df=pd.read_csv('/content/drive/My Drive/INSAID/wine.csv')

# for some people "My Drive" is labelled as "MyDrive" (without space). Basically explore and see location of wine.csv file in your Google Drive and try to replicate the path
# df=pd.read_csv('/content/drive/MyDrive/INSAID/wine.csv')
 

df.head()

   name  alcohol  malicAcid   ash  ...  colorIntensity   hue  od280_od315  proline
0     1    13.20       1.78  2.14  ...            4.38  1.05         3.40     1050
1     1    13.16       2.36  2.67  ...            5.68  1.03         3.17     1185
2     1    14.37       1.95  2.50  ...            7.80  0.86         3.45     1480
3     1    13.24       2.59  2.87  ...            4.32  1.04         2.93      735
4     1    14.20       1.76  2.45  ...            6.75  1.05         2.85     1450

[5 rows x 14 columns]